<home>
    <section class="stripe primary">
        <article>
            <markdown file=install></markdown>
            <markdown file=usage></markdown>
            <editor language="sass" code={setup}></editor>
        </article>
    </section>
    <section class="stripe light">
        <article>
            <h2>Benefits</h2>
            <div layout="row" class="benefits" layout-align="center center">
                <div flex="25">
                    <img src="http://placekitten.com/350/350">
                    <h3>Just the layout</h3>
                    <p>works everywhere! some extra text here benefits of having layout in the markup is awesome.</p>
                </div>
                <div flex="25">
                    <img src="http://placekitten.com/350/350">
                    <h3>Layout belongs to the HTML</h3>
                    <p>works everywhere is awesome.</p>
                </div>
                <div flex="25">
                    <img src="http://placekitten.com/350/350">
                    <h3>Responsive</h3>
                    <p>or just a few lines benefits of having layout in the markup is awesome.</p>
                </div>
                <div flex="25">
                    <img src="http://placekitten.com/350/350">
                    <h3>Quick Sketching</h3>
                    <p>works everywhere! benefits of having layout in the markup is awesome. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo</p>
                </div>
            </div>
        </article>
    </section>
    <script></script>
</home>
