<home>
    <section class="stripe primary">
        <article>
            <h2>Philosophy</h2>
            <p>
                This page already does showcase FlexProperties in action. Just resize the window.
            </p>
            <div layout="row" class="benefits" layout-align="center start">
                <div flex="100" flex-gt-sm="50" flex-gt-lg="25">
                    <img src="http://placekitten.com/650/150">
                    <h3>Just the layout</h3>
                    <p>There is no theming provided at all. Just install and go.</p>
                    <a href="#install" class="button">Install</a>
                </div>
                <div flex="100" flex-gt-sm="50" flex-gt-lg="25">
                    <img src="http://placekitten.com/650/150">
                    <h3>Layout belongs to the HTML</h3>
                    <p>The structure of the document does not necesarilly depict how it will be layed out. But it is the fundamental layer where layout finds its place.</p>
                    <a href="#play" class="button">See examples</a>
                </div>
                <div flex="100" flex-gt-sm="50" flex-gt-lg="25">
                    <img src="http://placekitten.com/650/150">
                    <h3>Responsive</h3>
                    <p>Setting up custom breakpoints is a breeze, with a few sliders and switches, you can quickly pick features you require for your project.</p>
                    <a href="#config" class="button">Set up</a>
                </div>
                <div flex="100" flex-gt-sm="50" flex-gt-lg="25">
                    <img src="http://placekitten.com/650/150">
                    <h3>Quick Sketching</h3>
                    <p>Using the CSS properties to define layout directly in the HTML allows you to swiftly create entire pages.</p>
                    <a href="#usage" class="button">Search Documentation</a>
                </div>
            </div>
        </article>
    </section>
    <script></script>
</home>
