/* ========================================
LAYOUT
* The Layout contains a set of configurations
* Other than assigning classes to your markup, you assign your style to your html.
* should contain very basic theming
======================================== */

* {
    box-sizing: border-box;
    transition: opacity color height width @duration-action ease;
}

.github-corner {
	top: 0;
	right: 0;
	position: absolute;
	z-index: 100;
	@media screen and (min-width:@breakpoint-sm) {
		position: fixed;
	}
}

.slider {
    .card(@color-light);
    margin: 4em 0;
    padding: 1em;
}

.slider-handle {
    margin: 1em 2em 3em;
}

footer {
	.stripe(large, 30*16, @color-dark);
	color: @color-light;
}

nav {
    a {
        display: block;
    }
}

main > section {
    .stripe();
}

@hue: 280;

header {
	padding: 1em 2em;
	background: @color-primary;
    color: @color-light;
    h1 a {
        color: @color-light;
    }
}

nav a {
    color: white;
    border: 1px solid white;
    padding: .25em;
    margin-right: .5em;
    border-radius: .25em;
    transition: .2s all ease;
    &:hover {
        background: white;
        color: @color-primary;
    }
}


.benefits {
    > * {
        padding: 1em;
    }
    img {
        box-shadow: 0 .1em .2em @color-dark-shadow;
        border-radius: .1em;
    }
}

.code {
    margin: 1em 0;
    .code-example {
        margin: 0;
        border-radius: .3em .3em 0 0;
    }
    .code-preview {
        border-radius: 0 0 .3em .3em;
        padding: .5em;
        min-height: 100%;
        border: 1px solid @color-dark;
        > section, > div, > article, > ul, > ol {
            height: 100%;
        }
    }
    @media screen and (min-width: @breakpoint-md) {
        .code-example {
            border-radius: .3em 0 0 .3em;
        }
        .code-preview {
            border-radius: 0 .3em .3em 0;
        }
    }
}

.code-preview {
    font-size: .7em;
    h2,h3,h4 {
        margin-top: 0;
    }
    .breadcrumbs {
        margin: 0;
        list-style: none;
        li {
            margin: 0;
            &:after {
                content: "/";
                padding-left: 1ex;
            }
            &:before {
                content: "";
            }
        }
    }
}
